@tailwind base;
@tailwind components;
@tailwind utilities;

.home_page_gradient {
  background: rgb(56, 1, 120);
  background: -moz-linear-gradient(
    360deg,
    rgba(56, 1, 120, 1) 60%,
    rgba(82, 34, 137, 1) 100%
  );
  background: -webkit-linear-gradient(
    360deg,
    rgba(56, 1, 120, 1) 60%,
    rgba(82, 34, 137, 1) 100%
  );
  background: linear-gradient(
    360deg,
    rgba(56, 1, 120, 1) 60%,
    rgba(82, 34, 137, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#380178",endColorstr="#522289",GradientType=1);
}

.height_of_pages {
  height: calc(100vh - 70px);
}

/* Remove the spinners (arrows) from the number input */
.input_as_number {
  -webkit-appearance: textfield; /* Chrome, Safari, Edge */
  appearance: textfield; /* Firefox */
}

.input_as_number::-webkit-inner-spin-button {
  background-color: #ff0000; /* Change the background color */
  color: #ffffff; /* Change the text color */
}

.input_as_number::-webkit-outer-spin-button {
  background-color: #00ff00; /* Change the background color */
  color: #ffffff; /* Change the text color */
}

/* toast animation */
.toast_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}

.toast_message {
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* change select tag arrow icon */
.select_arrow_icon {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-chevron-down' width='22' height='22' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
}

.bottom_buttom_gradient {
  background: rgb(50, 0, 112);
  background: -moz-linear-gradient(
    360deg,
    rgba(50, 5, 112, 1) 0%,
    rgba(50, 5, 112, 0.1) 100%
  );
  background: -webkit-linear-gradient(
    360deg,
    rgba(50, 5, 112, 1) 0%,
    rgba(50, 5, 112, 0.1) 100%
  );
  background: linear-gradient(
    360deg,
    rgba(50, 5, 112, 1) 0%,
    rgba(50, 5, 112, 0.1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#320070",endColorstr="#000000",GradientType=1);
}
